This is an activation email. Please click the below link. 

<a href="http://192.168.1.10/~anup/parivartree/web/app_dev.php/member/emailactivation/{{ userid }}/{{ userhash }}" > Click here </a>
{{ userid }}

{{ userhash }}
