{% extends '::base_inner.html.twig' %}

{% block mainbody %}

<div class="container events-block innerpage">
	<div class="col-md-3 clear-both">
		<div class="event-left-block">
		<div class="events-header">Events</div>
			<div class="event-user">
				<div class="thumb"></div>
				<div class="event-user-cont">
					<h1>Rahul Heaven</h1>
					<p>Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar</p>
				</div>
			</div>
			<div class="event-user">
				<div class="thumb"></div>
				<div class="event-user-cont">
					<h1>Rahul Heaven</h1>
					<p>Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar</p>
				</div>
			</div>
			<div class="event-user unread">
				<div class="thumb"></div>
				<div class="event-user-cont">
					<h1>Rahul Heaven</h1>
					<p>Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar</p>
				</div>
			</div>
			<div class="event-user">
				<div class="thumb"></div>
				<div class="event-user-cont">
					<h1>Rahul Heaven</h1>
					<p>Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar</p>
				</div>
			</div>
			<div class="event-user unread">
				<div class="thumb"></div>
				<div class="event-user-cont">
					<h1>Rahul Heaven</h1>
					<p>Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar</p>
				</div>
			</div>
			<div class="event-user">
				<div class="thumb"></div>
				<div class="event-user-cont">
					<h1>Rahul Heaven</h1>
					<p>Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar</p>
				</div>
			</div>
			<div class="event-user">
				<div class="thumb"></div>
				<div class="event-user-cont">
					<h1>Rahul Heaven</h1>
					<p>Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar</p>
				</div>
			</div>
			<div class="event-user">
				<div class="thumb"></div>
				<div class="event-user-cont">
					<h1>Rahul Heaven</h1>
					<p>Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar</p>
				</div>
			</div>
			
		</div>
	</div>
	<div class="col-md-6 event-middle-cont">
		<div class="create-event">
		<h1>Create Events</h1>
			<div class="create-event-cont">
				<div class="form-group">
					<label for="exampleInputEmail1">Event Type</label>
					<input id="exampleInputEmail1" class="form-control" type="email" placeholder="">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Event Name</label>
					<input id="exampleInputEmail1" class="form-control" type="email" placeholder="">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Venu</label>
					<input id="exampleInputEmail1" class="form-control" type="email" placeholder="">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Description</label>
					<input id="exampleInputEmail1" class="form-control" type="email" placeholder="">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Attachements</label>
					<input id="exampleInputEmail1" class="form-control" type="email" placeholder="">
				</div>
				<div class="form-group date-t">
					<label for="exampleInputEmail1">From To</label>
					<input id="exampleInputEmail1" class="form-control" type="email" placeholder="">
					<input id="exampleInputEmail1" class="form-control" type="email" placeholder="">
				</div>
				
				<div class="form-group">
					<label for="exampleInputEmail1">Privacy</label>
					<select class="form-control">...</select>
				</div>
				<div class="form-group pull-right">
				<button type="button" class="btn btn-default">Cancel</button>
				<button type="button" class="btn btn-primary">Create</button>
				</div>
				
				
				
			</div>
		</div>
	</div>
	<div class="col-md-3 clear-both">
		<div class="event-left-block">
		<div class="events-header">Notification</div>
			<div class="event-user">
				<div class="thumb"></div>
				<div class="event-user-cont">
					<h1>Rahul Heaven</h1>
					<p>Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar</p>
				</div>
			</div>
			<div class="event-user">
				<div class="thumb"></div>
				<div class="event-user-cont">
					<h1>Rahul Heaven</h1>
					<p>Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar</p>
				</div>
			</div>
			<div class="event-user unread">
				<div class="thumb"></div>
				<div class="event-user-cont">
					<h1>Rahul Heaven</h1>
					<p>Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar</p>
				</div>
			</div>
			<div class="event-user">
				<div class="thumb"></div>
				<div class="event-user-cont">
					<h1>Rahul Heaven</h1>
					<p>Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar</p>
				</div>
			</div>
			
		</div>
		<div class="event-left-block">
		<div class="events-header">Notification</div>
			<div class="event-user">
				<div class="thumb"></div>
				<div class="event-user-cont">
					<h1>Rahul Heaven</h1>
					<p>Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar</p>
				</div>
			</div>
			<div class="event-user">
				<div class="thumb"></div>
				<div class="event-user-cont">
					<h1>Rahul Heaven</h1>
					<p>Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar</p>
				</div>
			</div>
			<div class="event-user unread">
				<div class="thumb"></div>
				<div class="event-user-cont">
					<h1>Rahul Heaven</h1>
					<p>Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar</p>
				</div>
			</div>
			<div class="event-user">
				<div class="thumb"></div>
				<div class="event-user-cont">
					<h1>Rahul Heaven</h1>
					<p>Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar Foo Bar</p>
				</div>
			</div>
			
		</div>
		
		
		
	</div>
	
</div>

<div class="footer">
	<div class="container">
    	<div class="col-md-8"><p>© 2014 Parivartree | About | Privacy Policy | Terms & Conditions | FAQs | Campaigns</p></div>
        <div class="col-md-4 follow">Follow us</div>
    	
    	
    </div>
	
</div>





{% endblock %}
